.aboutpage-container {

    min-height: 100vh;
    width: 100%;
    background-color: #B3B3B3;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.aboutpage-body{
    flex: 1;
    display: flex;
    width: 100%;
    align-items: baseline;
}

.aboutpage-leftcolumn{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;


    width:33%
}

.aboutpage-title{
    font-size: 3vh;
    text-align: center;
}

.aboutpage-description{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 2vh;
}

.aboutpage-middlecolumn{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;

    width:33%
}

.aboutpage-middlecolumn .bsglogo{
    width: 275px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.aboutpage-rightcolumn{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;

    width:33%;
}



.goalslist{
    display: flex;
    font-size: 2vh;
}

.goalslist li{
    margin-bottom: 50px;

}

.title_hr {
    background-color: rgba(208, 207, 207, 1.00);
    height: 2px;
    width: 90%;
}

@media (max-width: 450px) {

    .aboutpage-body {
        flex-direction: column;
    }

    .aboutpage-body .aboutpage-middlecolumn  {
        order: 1;
    }

    .aboutpage-body .aboutpage-leftcolumn {
        order: 2;
    }

    .aboutpage-body .aboutpage-rightcolumn {
        order: 3;
    }

    .aboutpage-middlecolumn{
        width: 100%;
    }

    .aboutpage-leftcolumn{
        width: 100%;
    }

    .aboutpage-rightcolumn{
        width: 100%;
    }

    .goalslist li{
        margin-bottom: 0;

    }
}

@media (min-width: 451px) and (max-width:800px){


    .aboutpage-body {
        flex-direction: column;
    }

    .aboutpage-body .aboutpage-middlecolumn  {
        order: 1;
    }

    .aboutpage-body .aboutpage-leftcolumn {
        order: 2;
    }

    .aboutpage-body .aboutpage-rightcolumn {
        order: 3;
    }

    .aboutpage-middlecolumn{
        width: 100%;
    }

    .aboutpage-leftcolumn{
        width: 100%;
    }

    .aboutpage-rightcolumn{
        width: 100%;
    }

    .goalslist li{
        margin-bottom: 0;

    }


}