html, body{

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.homepage-container{

    min-height: 100vh;
    width: 100%;
    background-color: #B3B3B3;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
