html, body{

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.homepage-container{

    min-height: 100vh;
    width: 100%;
    background-color: #B3B3B3;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
}

.homepage-header {

    width: 100%;
    height: 10%;
    background-color: black;
    border-bottom: 1px solid #2C9AB7;
    display: inline-block;

}

.homepage-header nav{

    float: right;
    width: 50%;
    text-align: right;
    margin-right: 25px;
}

.homepage-header nav ul{
    list-style: none;
    float: right;
}

.homepage-header nav li{
    float: left;
    color: #FFFFFF;
    font-size: 14px;
    text-align: left;
    margin-right: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.3s linear;
}

.homepage-header ul li a {
    color: #FFFFFF;
    text-decoration: none;
}


.bgs-title {
    color: #fff;
    font-weight: bold;
    text-align: undefined;
    width: 10%;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    letter-spacing: 4px;
}

.homepage-body{

    display: flex;
    background-color: #B3B3B3;
    margin-top: 0px;
    width: 100%;
    flex: 1;
}

.homepage-body ul {
    list-style: none;
}

.homepage-body img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.homepage-body img:hover{
    cursor: pointer;

}


.left-services-column{
    width: 31%;
    text-align: left;
    font-weight: lighter;
    line-height: 25px;
    float: left;
    font-size: 30px;
}

.left-services-column li{
    padding-left: 25%;
    margin-top: 50px;

}


.middle-column{
    width: 31%;
    background-color: #B3B3B3;
    float: left;
    padding-top: 25px;
    text-align: center;
    padding-bottom: 20px;
}

.p_welcome{
    font-size: 20px;
}

.welcome_text{
    font-size: 20px;
}

.welcome_title{
    font-size: 30px;
}

.middle-column .bsglogo{
    width: 275px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.middle-column .usalogo{
    width: 30px;
    height: 20px;
}

.middle-column .mexlogo{
    width: 30px;
    height: 20px;
}

.right-services-column{
    width: 31%;
    text-align: left;
    font-weight: lighter;
    line-height: 25px;
    float: left;
    font-size: 30px;
}

.right-services-column li{
    padding-left: 25%;
    margin-top: 50px;
}

.homepage-footer{

    background-color: #A67C00;
    display: inline-block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

@media (max-width: 450px) {

    .homepage-body{
        flex-direction: column;
    }

    .homepage-body .middle-column{
        order: 1;
    }

    .homepage-body .left-services-column{
        order: 2;
    }

    .homepage-body .right-services-column{
        order:3;
    }

    .bgs-title{
        width: 100%;
        text-align: center;
        margin-top: 13px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        color: white;
    }
    .homepage-header header nav{
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        width: 100%;
        float: none;
        overflow: auto;
        display: inline-block;
        background: black;

    }

    .homepage-header header nav ul{
        padding: 0px;
        float: none;
    }

    .homepage-header ul li{
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        width: 100%;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;

    }

    .homepage-header{
        margin-bottom: 30px;
    }

    .middle-column {
        width: 100%;
        background-color: #B3B3B3;
        padding-top: 25px;
        text-align: center;
        padding-bottom: 20px;
    }

    .left-services-column{
        align-items: center;
        width: 100%;
        text-align: left;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .left-services-column li{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .right-services-column{
        width: 100%;
        text-align: left;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .right-services-column li{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 451px) and (max-width:800px){

    .homepage-body {

        flex-direction: column;
    }

    .homepage-body .middle-column{

        order: 1;
    }

    .homepage-body .left-services-column{
        order: 2;
    }

    .homepage-body .right-services-column{
        order: 3;
    }

    .left-services-column{
        width: 100%;
        text-align: left;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .left-services-column li{
        padding-left: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .middle-column {
        width: 100%;
        background-color: #B3B3B3;
        padding-top: 25px;
        text-align: center;
        padding-bottom: 20px;
    }

    .right-services-column{
        width: 100%;
        text-align: left;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .right-services-column li{
        padding-left: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}
