.servicespage-container {

    min-height: 100vh;
    width: 100%;
    background-color: #B3B3B3;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.servicespage-body{
    flex: 1;
    display: flex;
    width: 100%;
    align-items: baseline;
}

.servicespage-body ul {
    list-style: none;
}

.servicespage-leftcolumn{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width:33%
}

.leftlist{
    display: flex;
    flex-direction: column;
    font-size: 3vh;
}

.leftlist img{

    width: 75px;
    height: 75px;
    cursor: pointer;
    padding-right: 10px;
    transition: all 0.5s linear;

}

.listelement{
    display: flex;
    align-items: center;
    padding-right: 10%;
    transition: all 0.5s linear;
}

.listelement img:hover {
    transition: all 0.5s linear;
    transform: scale(1.25) rotate(360deg);
}

.listelement:hover{
    transition: all 0.5s linear;
    transform: scale(1.2);
}

.servicespage-middlecolumn{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;

    width:33%
}

.servicespage-middlecolumn img{

    height: 300px;
    width: 275px;
}

.p_welcome{
    padding-right: 15%;
    padding-left: 15%;
    font-size: 2vh;
    text-align: center;
}

.usalogo img{
    width: 50px;
    height: 30px;
    padding-right: 10px;
}

.mexlogo img{
    width: 50px;
    height: 30px;
    padding-right: 10px;
}

.usalogo{
    display: flex;
    align-items: center;
    font-size: 2vh;
}

.mexlogo{
    display: flex;
    align-items: center;
    font-size: 2vh;
}

.servicespage-rightcolumn{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;

    width:33%
}

.rightlist{
    display: flex;
    flex-direction: column;
    font-size: 3vh;
}

.rightlist img{

    width: 75px;
    height: 75px;
    cursor: pointer;
    padding-right: 10px;
    transition: all 0.5s linear;

}

h1{
    font-size: 3vh;
}

.servicespage-bgs{

    text-align: center;
}

.title_hr {
    background-color: rgba(208, 207, 207, 1.00);
    height: 2px;
    width: 90%;
}

.title_hr2{
    background-color: rgba(208, 207, 207, 1.00);
    height: 2px;
    width: 90%;
}

@media (max-width: 450px) {

    .servicespage-body {
        flex-direction: column;
    }

    .servicespage-body .servicespage-middlecolumn  {
        order: 1;
    }

    .servicespage-body .servicespage-leftcolumn {
        order: 2;
    }

    .servicespage-body .servicespage-rightcolumn {
        order: 3;
    }

    .servicespage-middlecolumn{
        width: 100%;
    }

    .servicespage-leftcolumn{
        width: 100%;
    }

    .servicespage-rightcolumn{
        width: 100%;
    }

    .leftlist img{

        width: 50px;
        height: 50px;
        cursor: pointer;
        padding-right: 10px;

    }

    .rightlist img{

        width: 50px;
        height: 50px;
        cursor: pointer;
        padding-right: 10px;

    }

    .leftlist{
        margin-bottom: 0;
    }

    .rightlist{
        margin-top: 0;
    }

    .listelement{
        margin-top: 0;
    }

    .servicespage-title2{
        display: none;
    }

    .title_hr2{
        display: none;
    }
}


@media (min-width: 451px) and (max-width:800px){


    .servicespage-body {
        flex-direction: column;
    }

    .servicespage-body .servicespage-middlecolumn  {
        order: 1;
    }

    .servicespage-body .servicespage-leftcolumn {
        order: 2;
    }

    .servicespage-body .servicespage-rightcolumn {
        order: 3;
    }

    .servicespage-middlecolumn{
        width: 100%;
    }

    .servicespage-leftcolumn{
        width: 100%;
    }

    .servicespage-rightcolumn{
        width: 100%;
    }

    .leftlist{
        margin-bottom: 0;
    }

    .rightlist{
        margin-top: 0;
    }

    .listelement{
        margin-top: 0;
    }

    .servicespage-title2{
        display: none;
    }

    .title_hr2{
        display: none;
    }

}